---
- name: Pull GitHub repo on ceiling (simplified)
  hosts: Test
  tasks:
    - name: Clone Quantize_aware_experiments repo via HTTPS
      become: true
      become_user: pi
      ansible.builtin.git:
        repo: "https://github.com/Agata872/Quantize_aware_experiments.git"
        dest: "/home/pi/Quantize_aware_experiments"
        version: "master"   # 如果默认是 main，就改成 "main"
        update: true
        force: true
